<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>InfumiStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>controller.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductsController</display-name>
    <servlet-name>ProductsController</servlet-name>
    <servlet-class>controller.ProductsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsController</servlet-name>
    <url-pattern>/ProductsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetailController</display-name>
    <servlet-name>ProductDetailController</servlet-name>
    <servlet-class>controller.ProductDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailController</servlet-name>
    <url-pattern>/ProductDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginRegisterController</display-name>
    <servlet-name>LoginRegisterController</servlet-name>
    <servlet-class>controller.LoginRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginRegisterController</servlet-name>
    <url-pattern>/LoginRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfileController</display-name>
    <servlet-name>UserProfileController</servlet-name>
    <servlet-class>controller.UserProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileController</servlet-name>
    <url-pattern>/UserProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductController</display-name>
    <servlet-name>AdminProductController</servlet-name>
    <servlet-class>controller.AdminProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductController</servlet-name>
    <url-pattern>/AdminProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHomePageController</display-name>
    <servlet-name>AdminHomePageController</servlet-name>
    <servlet-class>controller.AdminHomePageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomePageController</servlet-name>
    <url-pattern>/AdminHomePageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartController</display-name>
    <servlet-name>CartController</servlet-name>
    <servlet-class>controller.CartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartController</servlet-name>
    <url-pattern>/CartController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>util.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/gio-hang/*</url-pattern>
    <url-pattern>/profile/*</url-pattern>
  </filter-mapping>
  
</web-app>